<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light d-flex">
      <a class="navbar-brand" href="/restaurants">Yelp MVP</a>
      <%= link_to "Create Restaurant", new_restaurant_path(@restaurant), class: "btn btn-primary"%>
    </nav>
    <%= yield %>
  </body>
</html>
